{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock title %}
{% block content %}

<!--:::::WELCOME ATRA START :::::::-->
<div class="welcome-area-wrap"
    style="background: url('{% static 'img/bg/inner-header-bg.jpg' %}');background-size: cover;background-position: center;"
    id="home">
    <!--::::: WELCOME CAROUSEL START :::::::-->
    <div class="welcome-area inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="inner-wlc">
                        <h2>Blog</h2>
                        <h3><a href="{% url 'home-page' %}">home</a>&nbsp;/&nbsp;blog</h3>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="inner-filltext">
                        <h1>blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--::::: WELCOME CAROUSEL END:::::::-->
</div>
<!--:::::WELCOME AREA END :::::::-->

<!--:::::BLOG PAGE AREA START :::::::-->
<div class="blog-page-area inner-bg-shpes section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-page-left mr-lg-4">
                    {% for blog in blogs %}
                    <div class="single-blog-section">
                        <div class="single-blog-section-img">
                            <img 
                                style="
                                    width: 100%; 
                                    height: auto; 
                                    object-fit: contain; 
                                    background-color: white;" 
                                src="{{ blog.image.url }}" 
                                alt="{{ blog.title }}">
                        </div>
                        
                        <!-- <div class="single-blog-section-img"
                            style="background-image:url('{{ blog.image.url }}'); height: 800px; background-position: center; background-repeat: no-repeat; background-size: cover;">
                            <span class="single-blog-section-img-tag">{{ blog.category.name }}</span>
                        </div> -->
                        <div class="single-blog-section-description blog-box">
                            <h2>
                                <a href="{% url 'blog-detail' blog.slug %}">{{ blog.title }}</a>
                            </h2>
                            <div class="single-blog-section-author">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fal fa-calendar-alt"></i> {{ blog.created_date }}</a>
                                    </li>
                                </ul>
                            </div>
                            <p>{{ blog.content|safe | truncatewords:30  }}</p>
                            <div class="space-30"></div>
                            <div class="blog-readmore-social">
                                <div class="row">
                                    <div class="col-sm-6 align-self-center">
                                        <a href="{% url 'blog-detail' blog.slug %}" class="cbtn cbnt1 fadeInDown animated">Read More <i class="fal fa-angle-right"></i></a>
                                    </div>
                                    <div class="col-sm-6 text-right align-self-center">
                                        <div class="blog-page-social">
                                            <ul>
                                                <li><a href="https://github.com/asilbek-ismoilov"><i class="fab fa-github"></i></a></li>
                                                <li><a href="https://t.me/IT_programmer_AI"><i class="fab fa-telegram"></i></a></li>
                                                <li><a href="https://www.instagram.com/asilbek__ismoilov/"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="http://127.0.0.1:8000/blog/{{ blog.slug }}/"><i class="fal fa-share-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    <div class="space-50"></div>
                    <!-- pagination -->
                     
                    <!-- <div class="cpagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true"><i class="fal fa-arrow-left"></i></span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true"><i class="fal fa-arrow-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-page-right text-center">
                    <div class="blog-box blog-author">
                        <div class="blog-author-image">
                            <h3>About Me <span>.</span></h3>
                            <div class="border-effect"></div>
                            <img style="border-radius: 50%; width: 100px;" src="{% static 'img/author/user.jpg' %}" alt="">

                            <h6>Developer</h6>
                        </div>
                        <div class="blog-author-description">
                            <p>Salom, men Asilbek Ismoilovman — dasturlash va texnologiyalarni rivojlantirishga qiziqaman. Kod yozish nafaqat ish, balki mening o‘zligimni ifodalash vositasi. Maqsadim — bilimlarim bilan boshqalarga yordam berish va texnologiyalar orqali hayotga ijobiy o‘zgarishlar kiritish. 💻</p>
                            <div class="blog-page-social">
                                <ul>
                                    <li><a href="https://www.youtube.com/@program_club"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="https://github.com/asilbek-ismoilov"><i class="fab fa-github"></i></a></li>
                                    <li><a href="https://t.me/IT_programmer_AI"><i class="fab fa-telegram"></i></a></li>
                                    <li><a href="https://www.instagram.com/asilbek__ismoilov/"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'img/bg/service-bg.svg' %}" alt="" class="inner-shape1">
    <img src="{% static 'img/bg/inner-bg1.svg' %}" alt="" class="inner-shape2">
    <img src="{% static 'img/bg/inner-bg1.svg' %}" alt="" class="inner-shape3">
</div>
<!--:::::BLOG PAGE AREA END :::::::-->

{% endblock content %}