{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}

<!--:::::WELCOME ATRA START :::::::-->
<div class="welcome-area-wrap welcome__wrap2">
    <!--::::: WELCOME CAROUSEL START :::::::-->
    <div class="welcome-area" id="home">
        <div class="single-welcome-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="wlc-title white">
                            <h1 class="fadeInDown animated"><span>Asilbek Ismoilov</span> Kodingizni yangi darajaga olib
                                chiqing</h1>
                            <p class="fadeInDown animated">Birgalikda innovatsion dasturlash yechimlari yaratib, yangi
                                imkoniyatlarga yo'l ochamiz. Yolg'iz hech kim muvaffaqiyatga erisha olmaydi</p>

                            <a href="#" class="cbtn cbnt1 fadeInDown animated">Rezyumeni yuklab olish <i
                                    class="fas fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wlc-author-1">
                <!-- <img style="border-radius: 50%; width: 350px;" src="{% static 'img/author/user.jpg' %}" alt=""> -->
                <!-- <h1 class="wlc-filltext">gilroy</h1> -->
            </div>
        </div>

    </div>
    <!--::::: WELCOME CAROUSEL END:::::::-->
    <div class="memphis-wrap">
        <div class="memphics">
            <img src="{% static 'img/icon/cta1.png' %}" alt="" class="memphis memphis1">
            <img src="{% static 'img/bg/circle_shape.svg' %}" alt="" class="memphis memphis2">
            <img src="{% static 'img/icon/cta2.png' %}" alt="" class="memphis memphis3">
            <img src="{% static 'img/icon/cta3.png' %}" alt="" class="memphis memphis4">
            <img src="{% static 'img/icon/cta6.svg' %}" alt="" class="memphis memphis5">
            <img src="{% static 'img/icon/cta5.png' %}" alt="" class="memphis memphis6">
            <img src="{% static 'img/icon/cta7.svg' %}" alt="" class="memphis memphis7">
        </div>
    </div>
</div>
<!--:::::WELCOME AREA END :::::::-->

<!--:::::SKILL AREA START :::::::-->
<div class="skill-area primery-skill section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="primery-heading">
                    <strong class="filltext">faoliyatim</strong>
                    <small>tajribam</small>
                    <h2>Tajriba va <span>qobiliyatlar</span></h2>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="primery-info-content">
                    <p>Python va Django bo'yicha tajribam bor. O'rganishni va rivojlanishni doimo davom ettiraman</p>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
        <div class="row">
            <div class="col-lg-4">
                <div class="skill-box skill-box2">
                    <small>06.2024 - ... (Backend)</small>
                    <h5>Backend Developer</h5>
                    <p>Python va Django asosida backend tizimlarini yaratish, REST API orqali xizmatlarni integratsiya qilish va Aiogram yordamida Telegram botlarini boshqarish. Ma'lumotlar bazasini bilan ishlash</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="skill-box skill-box2">
                    <small>06.2023 - 10.2023 (Fontend)</small>
                    <h5>Frontend Developer </h5>
                    <p>HTML, CSS va JavaScript yordamida interaktiv veb-sahifalar yaratish, Turli kutubxonalar va API'lar bilan ishlash  bilan ishlash. interfeyslarni dinamik va samarali qilish</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="skill-box skill-box2">
                    <small>Algoritm</small>
                    <h5>Algoritm masalalar</h5>
                    <p>Algoritm 200+ masalalar. O'rta daraja: Ma'lumotlar tuzilmalari va algoritmlar (Sortlash algoritmlari, Binary Search, Stack va Queue, HashMap yoki Dictionary, Graf algoritmlari)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--:::::SKILL AREA END :::::::-->

<div class="container">
    <div class="border_separatior"></div>
</div>


<!--:::::PROJECT AREA START :::::::-->
<div class="project-area project-area2 project-area-primery padding-top" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="primery-heading">
                    <strong class="filltext">our projects</strong>
                    <small>WORKING PROCESS</small>
                    <h2>lastet working <span>project</span></h2>
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <div class="primery-info-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ratione reprehenderit </p>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
        <div class="row">
            <ul id="da-thumbs" class="da-thumbs portfolio-carousel2 owl-carousel">
                {% for portfolio in portfolios %}
                <li>
                    <a href="{% url 'portfolio-page' %}">
                        <img src="{{ portfolio.image.url }}" alt="">
                        <div><span>{{ portfolio.title }}</span></div>
                    </a>
                </li>
                {% endfor %}
                <li>
                    <a href="{% url 'portfolio-page' %}">
                        <img src="{% static 'img/project/project1.png' %}" alt="">
                        <div><span>Menu by Simon Jensen</span></div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'portfolio-page' %}">
                        <img src="{% static 'img/project/project2.png' %}" alt="">
                        <div><span>Menu by Simon Jensen</span></div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'portfolio-page' %}">
                        <img src="{% static 'img/project/project3.png' %}" alt="">
                        <div><span>Menu by Simon Jensen</span></div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'portfolio-page' %}">
                        <img src="{% static 'img/project/project4.png' %}" alt="">
                        <div>
                            <span>Menu by Simon Jensen</span>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--:::::PROJECT AREA END :::::::-->

<!--:::::BLOG AREA START :::::::-->
<div class="blog-area section-padding" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <div class="primery-heading">
                    <strong class="filltext">news & blog</strong>
                    <small>RECENT NEWS DESK</small> ///
                    <h2>lastet news & <span>blogs</span></h2>
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <div class="primery-info-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ratione reprehenderit </p>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
        <div class="row">
            <div class="blogs owl-carousel">
                <div class="single-blog">
                    <div class="single-blog-img">
                        <img src="{% static 'img/blog/team__1.png' %}" alt="">
                    </div>
                    <div class="blog-description">
                        <p>September 28, 2019</p>
                        <a href="single-blog.html">Hypnosis 12 Steps To Acquire Mind Power...</a>
                        <a href="single-blog.html" class="readmore-btn"><i class="fal fa-arrow-right"></i> read more</a>
                    </div>

                </div>
                <div class="single-blog">
                    <div class="single-blog-img">
                        <div class="single-blog-img">
                            <img src="{% static 'img/blog/team__2.png' %}" alt="">
                        </div>
                    </div>
                    <div class="blog-description">
                        <p>September 28, 2019</p>
                        <a href="single-blog.html">Addiction When Gambling Becomes...</a>
                        <a href="single-blog.html" class="readmore-btn"><i class="fal fa-arrow-right"></i> read more</a>
                    </div>

                </div>
                <div class="single-blog">
                    <div class="single-blog-img">
                        <div class="single-blog-img">
                            <img src="{% static 'img/blog/team__3.png' %}" alt="">
                        </div>
                    </div>
                    <div class="blog-description">
                        <p>September 28, 2019</p>
                        <a href="single-blog.html">Harness The Power Of Your Dreams...</a>
                        <a href="single-blog.html" class="readmore-btn"><i class="fal fa-arrow-right"></i> read more</a>
                    </div>

                </div>
                <div class="single-blog">
                    <div class="single-blog-img">
                        <div class="single-blog-img">
                            <img src="{% static 'img/blog/team__4.png' %}" alt="">
                        </div>
                    </div>
                    <div class="blog-description">
                        <p>September 28, 2019</p>
                        <a href="single-blog.html">Addiction When Gambling Becomes...</a>
                        <a href="single-blog.html" class="readmore-btn"><i class="fal fa-arrow-right"></i> read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--:::::BLOG AREA END :::::::-->

{% endblock content %}