{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}

<!--:::::WELCOME ATRA START :::::::-->
<div class="welcome-area-wrap welcome__wrap2">
    <!--::::: WELCOME CAROUSEL START :::::::-->
    <div class="welcome-area" id="home">
        <div class="single-welcome-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="wlc-title white">
                            <h1 class="fadeInDown animated"><span>Asilbek Ismoilov</span> Kodingizni yangi darajaga olib
                                chiqing</h1>
                            <p class="fadeInDown animated">Birgalikda innovatsion dasturlash yechimlari yaratib, yangi
                                imkoniyatlarga yo'l ochamiz. Yolg'iz hech kim muvaffaqiyatga erisha olmaydi</p>

                                <a href="{% static 'cv.pdf' %}" class="cbtn cbnt1 fadeInDown animated">Rezyumeni yuklab olish <i class="fas fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wlc-author-1">
                <!-- <img style="border-radius: 50%; width: 350px;" src="{% static 'img/author/user.jpg' %}" alt=""> -->
            </div>
        </div>

    </div>
    <!--::::: WELCOME CAROUSEL END:::::::-->
    <div class="memphis-wrap">
        <div class="memphics">
            <img src="{% static 'img/icon/cta1.png' %}" alt="" class="memphis memphis1">
            <img src="{% static 'img/bg/circle_shape.svg' %}" alt="" class="memphis memphis2">
            <img src="{% static 'img/icon/cta2.png' %}" alt="" class="memphis memphis3">
            <img src="{% static 'img/icon/cta3.png' %}" alt="" class="memphis memphis4">
            <img src="{% static 'img/icon/cta6.svg' %}" alt="" class="memphis memphis5">
            <img src="{% static 'img/icon/cta5.png' %}" alt="" class="memphis memphis6">
            <img src="{% static 'img/icon/cta7.svg' %}" alt="" class="memphis memphis7">
        </div>
    </div>
</div>
<!--:::::WELCOME AREA END :::::::-->

<!--:::::SKILL AREA START :::::::-->
<div class="skill-area primery-skill section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="primery-heading">
                    <strong class="filltext">faoliyatim</strong>
                    <small>tajribam</small>
                    <h2>Tajriba va <span>qobiliyatlar</span></h2>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="primery-info-content">
                    <p>Python va Django bo'yicha tajribam bor. O'rganishni va rivojlanishni doimo davom ettiraman</p>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
        <div class="row">
            <div class="col-lg-4">
                <div class="skill-box skill-box2">
                    <small>06.2024 - ... (Backend)</small>
                    <h5>Backend Developer</h5>
                    <p>Python va Django asosida backend tizimlarini yaratish, REST API orqali xizmatlarni integratsiya qilish va Aiogram yordamida Telegram botlarini boshqarish. Ma'lumotlar bazasini bilan ishlash</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="skill-box skill-box2">
                    <small>06.2023 - 10.2023 (Fontend)</small>
                    <h5>Frontend Developer </h5>
                    <p>HTML, CSS va JavaScript yordamida interaktiv veb-sahifalar yaratish, Turli kutubxonalar va API'lar bilan ishlash  bilan ishlash. interfeyslarni dinamik va samarali qilish</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="skill-box skill-box2">
                    <small>Algoritm</small>
                    <h5>Algoritm masalalar</h5>
                    <p>Algoritm 200+ masalalar. O'rta daraja: Ma'lumotlar tuzilmalari va algoritmlar (Sortlash algoritmlari, Binary Search, Stack va Queue, HashMap yoki Dictionary, Graf algoritmlari)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--:::::SKILL AREA END :::::::-->

<div class="container">
    <div class="border_separatior"></div>
</div>


<!--:::::PROJECT AREA START :::::::-->
<div class="project-area project-area2 project-area-primery padding-top" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="primery-heading">
                    <strong class="filltext">Men proektim</strong>
                    <small>Ishlaydigan loyihalar</small>
                    <h2>oxirgi ishlagan <span>proekt</span></h2>
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <div class="primery-info-content">
                    <p>Loyihalar turlicha, Backend va Frontend bilan qilingan. Ko'proq jamoa bilan ishlangan </p>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
        <div class="row">
            <ul id="da-thumbs" class="da-thumbs portfolio-carousel2 owl-carousel">
                {% for portfolio in portfolios %}
                <li>
                    <a href="{% url 'portfolio-page' %}">
                        <img 
                        style="
                            width: 100%; 
                            height: 100%; 
                            object-fit: contain; 
                            background-color: white;" 
                        src="{{ portfolio.image.url }}" 
                        alt="{{ portfolio.title }}">
                    <div><span>{{ portfolio.title }}</span></div>
                        <div><span>{{ portfolio.title }}</span></div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!--:::::PROJECT AREA END :::::::-->

<!--:::::BLOG AREA START :::::::-->
<div class="blog-area section-padding" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <div class="primery-heading">
                    <strong class="filltext">news & blog</strong>
                    <small>So'ngi yangiliklar</small> ///
                    <h2>Yangi xabarlar & <span>blogs</span></h2>
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <div class="primery-info-content">
                    <p>Blog da hayotimda bo'lib o'tgan ayrim voqealar, yangiliklar va qiziqarli ma'lumotlar bo'ladi</p>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
        <div class="row">
            <div class="blogs owl-carousel">
                {% for blog in blogs %}
                <div class="single-blog">
                    <div class="single-blog-img">
                        <img src="{% static 'img/blog/blog_3.png' %}" alt="">
                    </div>
                    <div class="blog-description">
                        <p>{{ blog.created_date }}</p>
                        <a href="{% url 'blog-detail' blog.slug %}">{{ blog.content|safe | truncatewords:20  }}...</a>
                        <a href="{% url 'blog-detail' blog.slug %}" class="readmore-btn"><i class="fal fa-arrow-right"></i> Ko'proq o'qish</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--:::::BLOG AREA END :::::::-->

{% endblock content %}