{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock title %}
{% block content %}     

        <!--:::::WELCOME ATRA START :::::::-->
        <div class="welcome-area-wrap" style="background: url('{% static 'img/bg/inner-header-bg.jpg' %}');background-size: cover;background-position: center;" id="home">
            <!--::::: WELCOME CAROUSEL START :::::::-->
                <div class="welcome-area inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="inner-wlc">
                                    <h2>Portfolio</h2>
                                    <h3><a href="{% url 'home-page' %}">home</a>&nbsp;/&nbsp;Portfolio</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center">
                                <div class="inner-filltext">
                                    <h1>Portfolio</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--::::: WELCOME CAROUSEL END:::::::-->
        </div>
        <!--:::::WELCOME AREA END :::::::-->


        <!--:::::PORTDOLIO AREA START :::::::-->
        <div class="portfolio-area inner-bg-shpes section-padding">
            <div class="container">
                <div class="row portfolio-list2">
                    <div class="col-md-8 align-self-center">
                        <div class="row">
                            <div class="col-12">
                                <div class="portfolio-wrap">
                                    <img src="{{ portfolio.image_1.url }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 align-self-center">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-wrap">
                                     <img src="{{ portfolio.image_2.url }}" alt="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="portfolio-wrap">
                                    <img src="{{ portfolio.image_3.url }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-60"></div>
                <!-- portfolio single -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="single-portfolio-description">
                            <h3>Project Brief:</h3>
                            <div class="space-30"></div>
                            <p>{{ portfolio.title }}</p>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="single-portfolio-description">
                            <h3>Project Info:</h3>
                            <div class="space-30"></div>
                            <div class="ctable">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Category</th>
                                            <td>: {{ portfolio.category.name }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Date</th>
                                            <td>: {{ portfolio.date }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Website</th>
                                            <td>: <a href="{{ portfolio.url }}"> {{ portfolio.title }}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
             <img src="{% static 'img/bg/service-bg.svg' %}" alt="" class="inner-shape1">
            <img src="{% static 'img/bg/inner-bg1.svg' %}" alt="" class="inner-shape2">
        </div>
        <!--:::::PORTDOLIO AREA END :::::::-->

        {% endblock content %}